
R Scripts/.DS_Store
.DS_Store
Nitrogen genes annotation/.DS_Store
taxonomy_tables/.DS_Store
R Scripts/.Rhistory
taxonomy_tables/.DS_Store
taxonomy_tables/taxonomy counts/.DS_Store
taxonomy_tables/taxonomy counts/arch/.DS_Store
taxonomy_tables/taxonomy counts/bact/.DS_Store
taxonomy_tables/taxonomy counts/fungi/.DS_Store
taxonomy_tables/taxonomy counts/protozoa/.DS_Store
taxonomy_tables/taxonomy counts/virus/.DS_Store
taxonomy_tables/taxonomy_relative_abundances/.DS_Store
